.info-container{
    height: 100%;
    padding: 17px 17px 35px;
}
.search-container{
    display: flex;
    justify-content: space-evenly;
}
.direction-container{
    display: flex;
    flex-direction: column;
}